/***********Global***********/

* {
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

p {
    display: inline-block;
}

/***********Header***********/

.header {
    background-color: #1F1F3D;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.header__h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0px 0px 10px;
    font-size: 2.5em;
    font-weight: 800;
}

.header__span {
    color: #FFC30C;
}

.header__input--select {
    background-color: #FFC30C;
}

.header__nav {
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.header__section--container {
    padding: 15px;
}

.header__nav--search-icon {
    vertical-align: middle;
    height: 32px;
    padding: 7px;
    background: #c7d3d8;
    margin-right: -4px;
    margin-top: -3px;
    border-radius: 5px 0px 0px 5px;
}

.header__input--search {
    height: 40px;
    width: 250px;
    border-radius: 0px 5px 5px 0px;
}

/***********Side Nav***********/
.side__form {
    padding-top: 10px;
    border-bottom: 2px solid #3C6577;
    width: 100%;
    padding-bottom: 20px;
}

.side__nav {
    background-color: #58788A;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 350px;
}

.side__label {
    color: #F3F6F7;
    display: block;
    margin-left: 25px;
    /* margin-top: 10px;     */
}

.side__input {
    height: 40px;
    width: 300px;
    min-width: 60%;
    display: block;
    margin: 20px 10px 10px 25px;
    padding: 0px;
    border-radius: 5px;
}

.side__input--title,
.side__input--task {
    border: 2px solid #1F1F3D;
    margin-top: 5px;
}

.side__input--save,
.side__input--clear,
.side__input--filter {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1F1F3D;
    border: 2px solid #1F1F3D;
}

.side__img--delete {
    height: 20px;
    padding-right: 10px;
    display: inline-block;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
}

.side__p--task {
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    color: #F3F6F7;
}

.side__input--filter-urgent {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #EF4A23;
    border: 2px solid #1F1F3D;
}

.side__input--task {
    width: 255px;
    display: inline-block;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.side__input--task-icon {
    vertical-align: middle;
    height: 30px;
    padding: 7px;
    background: #1F1F3D;;
    margin-left: -5px;
    margin-top: -4px;
    border-radius: 0px 5px 5px 0px;
}

.side__input--filter {
    text-align: center;
}

input[type="button"]:disabled {
    background-color: #F3F6F7;
    color: #1F1F3D;
    border: 2px solid #1F1F3D;
}

.side__ul--new-task {
    list-style: none;
    margin: 0px;
    width: 80%;
}

.side__li--task {
    font-size: 1.3em;
    margin-top: 10px;
    color: #F3F6F7;
}

/***********Main Section***********/

.bottom__container {
  display: flex;
  min-height: 100vh;
}

.main {
  margin: 0px;
  background-color: #F3F6F7;
  height: auto;
  width: 100vw;
  padding: 30px;
  columns: 2 250px;
  column-gap: 30px;
}

.main__article--card {
    width: 100%;
    background-color: #FAFDFF;
    color: #1F1F3D;
    border: 2px solid #C7D3D8;
    padding: 10px 0px 0px 0px;
    min-height: 200px;
    min-width: 400px;
    margin-bottom: 30px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__article--title {
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid #C7D3D8;
}

.main__article--body {
  padding: 5px;
  padding-bottom: 20px;

}

.main__article--task-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main__img--checkbox,
.main__img--checkbox-complete,
.main__img--checkbox-welcome {
    height: 18px;
    padding-right: 5px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 0px 5px 5px 0px;
}

.main__article--p {
    display: inline-block;
    font-size: 1.1em;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

.complete {
    font-style: italic;
    color: #3C6577;  
}


.main__urgency-label,
.main__delete-label {
display: flex;
flex-direction: column;
margin: 5px;
}

.main__article--urgency-icon,
.main__article--urgency-icon-welcome {
    vertical-align: middle;
    height: 32px;
    padding: 7px;
    margin-right: -4px;
    margin-top: -3px;
    border-radius: 5px 0px 0px 5px;
}

.main__article--delete-icon,
.main__article--delete-icon-welcome {
  vertical-align: middle;
  height: 32px;
  padding: 7px;
  margin-right: -4px;
  margin-top: -3px;
  border-radius: 5px 0px 0px 5px;
}

.urgent {
    border-bottom: 2px solid #FCC30C;
}

.main__article--footer-urgent {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #FCC30C;
  color: #B23A35;
}

.main__article--card-urgent {
    width: 100%;
    background-color: #FEE89D;
    color: #1F1F3D;
    border: 2px solid #FCC30C;
    padding: 10px 0px 0px 0px;
    min-height: 200px;
    min-width: 400px;
    margin-bottom: 30px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__article--footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #C7D3D8;
  }

  @media (max-width: 1200px) {
      .main__article--p {
          font-size: 1em;
    }
      .main {
        margin: 0px;
        background-color: #F3F6F7;
        height: auto;
        width: 100vw;
        padding: 30px;
        columns: 1 250px;
    }
  }

  @media (max-width: 850px) {
    body {
      width: 100%;
    }
    .side__ul--new-task {
      width: 60%;
    }
    .header {
      width: 100%
    }
    .bottom__container {
      flex-direction: column;
      max-width: 100vw;
    }
    .side__nav {
      width: 100%;
    }
    .side__form {
      flex-direction: column;
      align-items: center;
      display: flex;
      flex: auto;
    }
    .side__input--filter,
    .side__input--filter-urgent {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .side__nav--section {
      padding: 0px;
      /* margin: 0px auto; */
      min-width: 50%;
    }
    .main {
      padding: 0px;
    }
    .article {
      margin: 20px auto;
      max-width: 80%;
    }
    .side__input {
      width: 300px;
      min-width: 10%;
    }
    .side__input--task {
      width: 260px;
      /* margin-left: 30%; */
    }
    .side__nav--section {
      padding: auto;
    }
  }

  @media (max-width: 690px) {
    .header {
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      height: 25vh;
    }
    .header__nav {
      margin: 0 auto;
    }
  }