/***********Global***********/

* {
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

li { 
    cursor: pointer; 
}
/***********Header***********/

.header {
    background-color: #1F1F3D;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.header__h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0px 0px 10px;
    font-size: 2.5em;
}

.header__span {
    color: #FFC30C;
}

.header__nav {
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.header__section--container {
    padding: 15px;
}

.header__nav--search-icon {
    vertical-align: middle;
    height: 32px;
    padding: 7px;
    background: #c7d3d8;
    margin-right: -4px;
    margin-top: -3px;
    border-radius: 5px 0px 0px 5px;
}

.header__input--search {
    height: 40px;
    width: 250px;
    border-radius: 0px 5px 5px 0px;
}

/***********Side Nav***********/
.side__form {
    padding-top: 10px;
    border-bottom: 2px solid #3C6577;
    width: 100%;
    padding-bottom: 20px;
}

.side__nav {
    background-color: #58788A;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 350px;
}

.side__label {
    color: #F3F6F7;
    display: block;
    margin-left: 25px;
    /* margin-top: 10px;     */
}

.side__input {
    height: 40px;
    width: 300px;
    min-width: 60%;
    display: block;
    margin: 20px 10px 10px 25px;
    padding: 0px;
    border-radius: 5px;
}

.side__input--title,
.side__input--task {
    border: 2px solid #1F1F3D;
    margin-top: 5px;
}

.side__input--save,
.side__input--clear,
.side__input--filter {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1F1F3D;
    border: 2px solid #1F1F3D;
}

.side__input--task {
    width: 250px;
    display: inline-block;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.side__input--task-icon {
    vertical-align: middle;
    height: 30px;
    padding: 7px;
    background: #1F1F3D;;
    margin-left: -5px;
    margin-top: -4px;
    border-radius: 0px 5px 5px 0px;
}

.side__input--filter {
    text-align: center;
}

input[type="button"]:disabled {
    background-color: #F3F6F7;
    color: #1F1F3D;
    border: 2px solid #1F1F3D;
}

.side__ul--new-task {
    list-style: none;
    padding: 0px 0px 5px 30px;
    margin: 0px;
    width: 80%;

}

.side__li--task {
    font-size: 1.3em;
    padding-top: 5px;
    margin-top: 10px;
    color: #F3F6F7;
}

.side__li--task:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 2px;
  margin-top: 2px;
  background-size: 20px;
  background-image: url(images/delete-list-item.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

/***********Main Section***********/

.bottom__container {
  display: flex;
  min-height: 100vh;
}

.main {
  margin: 0px;
  background-color: #F3F6F7;
  height: auto;
  width: 100vw;
  padding: 30px;
  columns: 2 250px;
  column-gap: 30px;
}

.main__article--card {
    border: 2px solid black;
    width: 100%;
    background-color: #FAFDFF;
    color: #1F1F3D;
    border: 2px solid #C7D3D8;
    padding: 10px 0px 0px 0px;
    min-height: 200px;
    margin-bottom: 30px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__article--title {
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid #C7D3D8;
}

.main__article--body {
  padding: 5px;
  padding-bottom: 20px;

}

.main__article--task-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.main__article--task:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 2px;
  margin-top: 2px;
  background-size: 20px;
  background-image: url(images/checkbox.svg);
  background-repeat: no-repeat;
  margin-right: 5px;
}

.main__article--task {
    font-size: 1.3em;
}

.main__urgency-label,
.main__delete-label {
display: flex;
flex-direction: column;
margin: 5px;
}

.main__article--urgency-icon {
    vertical-align: middle;
    height: 32px;
    padding: 7px;
    margin-right: -4px;
    margin-top: -3px;
    border-radius: 5px 0px 0px 5px;
}

.main__article--delete-icon {
  vertical-align: middle;
  height: 32px;
  padding: 7px;
  margin-right: -4px;
  margin-top: -3px;
  border-radius: 5px 0px 0px 5px;
}

.main__article--footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #C7D3D8;
}

.main__article--card-urgent {
  margin-left: 10px;
  border: 2px solid black;
  width: 30%;
  background-color: #FFE89D;
  color: #1F1F3D;
  border: 2px solid #FFC30C;
}

.main__article--task-complete:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 2px;
    margin-top: 2px;
    background-size: 20px;
    background-image: url(images/checkbox-active.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  .main__article--task-complete {
    font-size: 1.3em;
    font-style: italic;
    color: #3C6577;  
};